.navbar-bgcolor{
    background-color: #776b6b !important;
}
.header{
    margin-left: 29px;
    font-weight: 700;
    color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}
.logout{
    margin-left:1020px;
}